html,body
{

    overflow-x: hidden;
}


#badfont{
font-family: 'Montserrat', sans-serif;
font-weight: 700;

}


.navbar {
    border-radius: 0px !important;
}

.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 60px;
  }
  .navbar {
       margin-bottom: 0px;
  }

  #top-navv{
    background-color:black;
    color:#fff;


  }

  #iconsec{
    display:block;
    padding-top:5px;

  }

  #toppnav{
    background-color: black;
    border-color: white;
    border-bottom-style: solid;
    border-bottom-width: thin;

    list-style:none;


  }

#toppnav p {


font-size: 10px;

  }


#getstarted{
    background-color: #C50608;

    padding-top:12px;
    border-color: white;
    border-left-style: solid;
    border-left-width: thin;
 }

#getstarted a {
color: white;
margin:0px;
text-decoration: none;
padding-top: 0px;
font-size:12px;
}

#getstarted:focus, #getstarted:hover {
  background-color: #b00012;
}


.navbar-brand {
  padding: 5px;
}
/*  quicklinks button
.btn>.open>a, .btn>.open>a:hover, .btn>.open>a:focus{
  background-color: green!important;
  droptopdown
}
*/
#droptopdown:focus, #droptopdown:hover {
  color: #b00012;
}
div#topheddd:focus, div#topheddd:hover {
  background-color: #b00012;
}
#topheader a:focus, #topheader a:hover {
   color: #b00012;
}


 #droptopdown {
  color: white;
  background-color: black;
  margin-bottom: 5px;
  padding-top: 5px;
  text-decoration: none;
  font-size:12px;
  }


 /*end the stupid button section  */
#iconsec a img:hover {
  background-color: darkred;
}


#topheader a{
  text-decoration: none;
  color:white;
  font-size: 12px;
}
#topheader {
  padding-top: 8px;
  border-color: white;
  border-right-style: solid;
  border-right-width: thin;
}

#floatright {
  float:right;
  padding-top:2px;
  
}

.topheadicon{
  width:16px;
  height:16px;
  background-color: white;
}
 #middleicon {
  margin-left:5px;
  margin-right:5px;

}
#topdropdown {
  border-color: white;
  border-left-style: solid;
  border-left-width: thin;
  height:38.5px;
  


}


.nav>li>a {
  
  
  padding-right: 7px;
}